{% extends 'index.html' %}
{% block title %} {{criminal_details.criminal_name}} - Details {% endblock title %}

{% block header %}
    <header id="header" style="background:rgb(40 55 70)" class=" h-20">
        <nav class="flex justify-between w-[90%] m-auto max-w-[1600px] h-[100%] items-center relative">
            <div class="left-nav relative">
                <div class="logo relative">
                    <a href="/">
                        <p class="font-medium text-white text-2xl" >Criminals <span class="text-red-400"> Index</span></p>
                    </a>

                    <div class="blood absolute w-[15px] h-[15px] top-[30px] opacity-[.8] left-[10%] rounded-b-full rounded-r-full shadow-2xl shadow-white rotate-45 bg-red-600"></div>
                </div>
                <div class="blood z-10 absolute w-[25px] h-[25px] top-[40px]  right-[20%] rounded-b-full rounded-r-full shadow-2xl  rotate-45 bg-red-600"></div>
                <div class="blood z-10 absolute w-[15px] h-[15px] top-[70px]  right-[30%] rounded-b-full rounded-r-full shadow-2xl  rotate-45 bg-red-600"></div>
                <div class="blood z-10 absolute w-[20px] h-[20px] top-[110px] opacity-[.6]  right-[-40%] rounded-b-full rounded-r-full shadow-2xl  rotate-45 bg-red-600"></div>
                <div class="blood z-10 absolute w-[30px] h-[30px] top-[70px]  opacity-[.5] right-[-60%] rounded-b-full rounded-r-full shadow-2xl  rotate-45 bg-red-600"></div>
                <div class="blood z-10 absolute w-[10px] h-[10px] top-[70px] opacity-]  right-[-20%] rounded-b-full rounded-r-full shadow-2xl  rotate-45 bg-red-600"></div>

            </div>
            <div class="blood  absolute w-[25px] h-[25px] top-[30px] opacity-[.8] left-[20%] rounded-b-full rounded-r-full shadow-2xl shadow-white rotate-45 bg-red-600"></div>
            <div class="blood absolute w-[25px] h-[25px] top-[10px] opacity-[.8] right-[50%] rounded-b-full rounded-r-full shadow-2xl shadow-white rotate-45 bg-red-600"></div>
            <div class="blood absolute w-[25px] h-[25px] top-[20px] opacity-[.8] right-[10%] rounded-b-full rounded-r-full shadow-2xl shadow-white rotate-45 bg-red-600"></div>

            <div class="right-nav">
            
                <div class="nav-menus *:ml-4 *:cursor-pointer">
                    <p class="font-bold text-xl text-red-400">১ দফা</p>
                </div>
            </div>

        </nav>
    </header>
{% endblock header %}


{% block container %}
    <div class="w-[90%] m-auto max-w-[1600px] h-[100%] items-center relative   my-[2em]">
        <a href="/">

            <button class="bg-slate-600 px-6 py-2 rounded text-white font-medium w-[150px]" onclick="history.back()">
                <i class="fas fa-arrow-left"></i> Back
            </button>
        </a>
    </div>
    


    <div class="container  w-[90%] m-auto max-w-[1600px] h-[100%] items-center relative  mt-[2em] mb-[5%]">

        <div class="criminal-details  lg:flex  gap-[2em]">

            <div class="left w-full lg:w-1/2">
                <div style="background: rgb(78 93 113 / 45%);height:400px;"  class="img-container rounded-lg shadow hover:shadow-sm w-full border flex justify-center items-center p-4">
                    <img src="{{criminal_details.default_image.url}}" class="h-full">
                </div>
                
            </div>
            
            <div class="right w-full my-[2em] lg:my-[0em] lg:w-1/2 border shadow hover:shadow-sm p-4 rounded-xl">
                <p class="title mb-4 text-lg font-medium">Criminal Details</p>
                <p class="name text-sm mb-1"><b>Name:</b> {{criminal_details.criminal_name}}</p>
                <p class="text-sm mb-1">
                    <b>Crime location: </b>
                </p>
                <p class="crime-location text-sm">
                    {{criminal_details.crime_location}}
                </p>

                <br>
                <p class="name text-sm mb-1"><b>Social Links:</b></p>
                {{criminal_details.social_links|safe}}
            </div>
        </div>

        <div class="evidences my-[2em] bg-gray-200 border p-4 rounded-xl">
            <p class="title mb-4 text-lg font-bold">Evidences</p>
            <div class="evidence-container  flex flex-wrap gap-[1em]">

                {% for evidence in criminal_details.evidences.all %}

                    {% if evidence.is_video %}
                        <div class="evidence-card w-[335px] flex justify-center p-4 rounded-xl shadow hover:shadow-lg items-center bg-gray-100">

                            <video src="{{evidence.file.url}}" controls class="h-fit w-full"></video>

                        </div>
                    {% else %}
                        <div class="evidence-card w-[335px] flex justify-center p-4 rounded-xl shadow hover:shadow-lg items-center bg-gray-100">
                            <img src="{{evidence.file.url}}" class="h-[250px]" alt="">

                        </div>
                    {% endif %}

                {% endfor %}



            </div>

        </div>
        
        <div class="more-details my-[2em] bg-gray-300 p-4 rounded-xl shadow hover:shadow-lg ">
            <p class="title mb-4 text-lg font-bold">Crime details</p>
            <div>
                {{criminal_details.crime_details|safe}}
            </div>
        </div>
    </div>

{% endblock container %}
